---
layout: page
title: Proyectos
summary: Harebrained ideas
permalink: /proyectos/
indexable: true
priority: 15
class: portfolio-page
icon: fa-rocket
description: > 
  Proyectos molones que desarrollamos de forma paralela a nuestra actividad.
---

{% for p in site.data.projects %}
<div class="row row-eq-height project" >
    <!-- Portfolio image -->
    <div class="col-sm-6 project-image" >
        {% assign image_url = site.url | append: '/' | append: site.project_assets | append: p.image }} %}
        <a href="//{{ image_url }}" target="_blank" ><!--
        --><img src="//{{ image_url }}" itemprop="image" 
            alt="{{ p.name }} featured image" title="{{ p.name }}" /><!--
        --></a>       
    </div>
    <!-- Portfolio info -->
    <div class="col-sm-6 project-info" 
        itemscope itemtype="http://schema.org/Product" >
        <h2 itemprop="name" >{{ p.name }}</h2>
        <!-- Project summary -->
        <div class="description" >
            <p>
            {% if p.description %}
                {{ p.description }}
            {% endif %}
            </p>
        </div>
        <!-- Link to organization -->
        {% if p.organization %}
            <a href="{{ p.organization }}" target="_blank" role="button" 
                title="Ver proyecto" class="btn btn-sm btn-primary" >
                <i class="fa fa-eye" aria-hidden="true"></i>
            </a>   
        {% endif %}
        <!-- Project technologies -->
        {% if p.technologies %}
            <div class="technologies" >
                {% for t in p.technologies %}
                    <span class="tag-area" itemprop="name" >
                        {{ t }}
                    </span>
                {% endfor %}
            </div>
        {% endif %}
    </div>
    <div class="clearfix" ></div>
</div>
{% endfor %}
