---
layout: page
title: Nosotros
permalink: /nosotros/
indexable: true
priority: 10
class: us-page
icon: fa-users
---

<div class="card-group">
    {% for member in site.data.members %}
        <div class="card" >
            <div class="card-header" >
                {% if member.blog %}
                    <a href="{{ member.blog }}" role="button" target="_blank"
                        title="Visita mi web personal" ><!--
                        --><img src="{{ member.gravatar }}?s=256" alt="Avatar"  class="card-img-top" /><!--                
                    --></a>
                    <h4 class="card-title text-xs-center">
                        <a href="{{ member.blog }}" role="button"  target="_blank"
                            title="Visita mi web personal" ><!--
                            -->{{ member.name }}<!--                
                        --></a>
                    </h4>
                {% else %}
                    <img src="{{ member.gravatar }}?s=256" alt="Avatar" class="card-img-top" />
                    <h4 class="card-title text-xs-center">{{ member.name }}</h4>
                {% endif %}
            </div>
            <div class="card-block">
                {% if member.description %}
                    <div class="description" >
                        {{ member.description | liquefy | markdownify }}
                    </div>
                {% endif %}    
                <p class="card-text">
                    {% for tag in member.expertise_areas %}
                        <span class="tag-area" >{{ tag }}</span>
                    {% endfor %}
                </p>
            </div>
            {% if member.social %}
            <div class="card-footer text-muted">
                {% include social.html social=member.social %}
            </div>
            {% endif %}
        </div>
    {% endfor %}
</div>